<ng-container *ngTemplateOutlet="parent ? sidenav : sidenav2">
</ng-container>

<ng-template #sidenav>
    <mat-nav-list>
        <div *ngFor="let settings of buttonSettings" class="buttons">
            <app-button [buttonSettings]="settings" [parent]="parent"></app-button>
        </div>
    </mat-nav-list>
</ng-template>

<ng-template #sidenav2> <!--Per si vull crear un altre tipus de sidenav-->
    <mat-nav-list>
        <div *ngFor="let settings of buttonSettings" class="buttons">
            <app-button [buttonSettings]="settings" [parent]="parent"></app-button>
        </div>
    </mat-nav-list>
</ng-template>