<mat-toolbar class="mat-elevation-z5">
    <a [routerLink]="['/home']">
        <img id="home" src="../../../assets/images/home.png">
    </a>


    <span class="spacer"></span>
    <div class="infoSection">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=andreufb97@gmail.com" target="_blank">
            <button mat-button>Contact</button>
        </a>

        <button mat-button (click)="logout()">Logout</button>

        <a href="http://147.83.159.160:5000/api/" target="_blank">
            <button mat-button>API</button>
        </a>
    </div>
</mat-toolbar>