.not_logged {
  font-size: xx-large;
  font-weight: bolder;
  color: brown;
  text-align: center;
  margin-top: 5%;
}

.body {
  background-color: rgb(180, 203, 245);
  font-size: large;
  padding: 0.5%;
  color:red;
  font-weight: bolder;
}



button[type=next] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#edf856 5%, #f5fc90 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=next]:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}




#EMSO_img {
  width: 100%;
  height: fit-content;
  cursor: pointer;
}

#EGI_img {
  width: 70%;
  height: fit-content;
  cursor: pointer;
}

.table {
  padding: 1%;
  margin-top: 0.1%;
  margin-left: 30%;
}

#title {
  font-size: xx-large;
  text-align: center;
}


mat-toolbar {
  overflow: hidden;
    width: 100%;
    min-width: 475px;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background: rgb(45, 144, 236);
    z-index: 1;
    position: absolute;
}

mat-toolbar:after {
  color: rgb(255, 255, 255);
  box-shadow: 5px 10px #888888;
  content: " ";
  position: absolute;
  display: block;
  width: 25%;
  min-width: 200px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: #333;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.infoSection {
  z-index: 3;
  position: relative;
  widows: 100%;
}

.infoSection::after {
  z-index: 3;
  position: relative;
  widows: 100%;
}

.spacer {
  flex: 1 1 auto;
}

button {
  color: white;
}

#avatar {
  width: 10%;
  margin-top: 3%;
  margin-left: 88%;
  position: absolute
}

#welcome {
  text-align: center !important;
  align-items: center;
   
}