<mat-toolbar class="mat-elevation-z5">

  <button type="next" (click)="refresh_token()" *ngIf="token">Refresh token</button>
  <button type="next" (click)="account()" *ngIf="token">Account settings</button>

  <span class="spacer"></span>
  <div class="infoSection">

    <button type="next" (click)="login()" *ngIf="!token">Login</button>
    <button type="next" (click)="logout()" *ngIf="token">Logout</button>
  </div>
</mat-toolbar>
<br>
<br>
<br>
<br>
<div *ngIf="!token" id="welcome">
  <h1>
    Login using the EMSO AAI
  </h1>
  <button type="next" (click)="login()" *ngIf="!token">Login</button>
</div>






<router-outlet *ngIf="token"><img id="avatar" src="{{avatar}}"></router-outlet>