
.title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-style: oblique;
    
    padding: 2%;
}

.user_info {
    padding: 1%;
    margin-left: 8%;
}
.item {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    background: white;
}

.info, li {
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    background: black;
}

.subtitle {
    background: white;
    font-size: x-large;
    font-weight: bolder;

}


button[type=next] {
    padding: 50%;
    font-size: 200%;
    font-size-adjust: initial;
    width: fit-content + 5%;
    background: linear-gradient(#42e072 5%, #84ff65 100%);
    border: 3px solid #0a0a0a;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 24px;
    text-align: center;
    outline: none;
    margin-right: 0.6%;
  }
  
  button[type=next]:hover {
    background: linear-gradient(#84ff65 5%, #42e072 100%);
  }

img {
    width: 10%;
}