<div>
    <h2 class="title">Welcome! {{ information.claims.given_name }} you have permission</h2>
    <div class="user_info">
        <mat-list>
            <mat-list-item>
                <p class="item">Full name: </p>
                <p class="info"> {{ information.claims.name }} </p>
            </mat-list-item>
            <mat-list-item>
                <p class="item">Email: </p>
                <p class="info">{{ information.claims.email }}</p>
            </mat-list-item>
            <mat-list-item>
                <p class="item">Epoch authentication date: </p>
                <p class="info">{{ information.claims.auth_time }} ({{date}})</p>
            </mat-list-item>
            <mat-list-item>
                <p class="item">Authorized till: </p>
                <p class="info">{{ access_time }}</p>
            </mat-list-item>
            <br>
            <mat-list-item>
                <p class="item">Roles: </p>
                <ul>
                    <li *ngFor="let e of user_info.realm_access.roles">
                        {{e}}
                    </li>
                </ul>
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item>
                <p class="item">Granted resources: </p>
                <ul>
                    <li *ngFor="let e of user_info.resource_access.account.roles">
                        {{e}}
                    </li>
                </ul>
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item>
                <p class="item">Acces token: </p>
                <p class="info" style="overflow:hidden">{{ information.access_token}}</p>
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item>
                <p class="item">Refresh token: </p>
                <p class="info" style="overflow:hidden">{{ information.refresh_token}}</p>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<h1>
    <pre>{{information | json}}</pre>
</h1>
<h1>
    <pre>{{user_info | json}}</pre>
</h1>
